In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DB/youtube.csv')

print(df.count())
display(df.head())

link           3599
title          3599
description    3599
category       3599
dtype: int64

,link,title,description,category
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\r\n671K subscribers\r\nSUBSCRIB...,travel
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\r\n45.6K subscribers\r\nSUBSCRIB...,travel
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\r\n588K subscribers\r\nSUBSCR...,travel
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\r\n6.65M subscribers\r\nSUBSCRIBE\r...,travel
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\r\n671K subscribers\r\nSUBSCRIB...,travel

## Analisis Exploratorio

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3599 entries, 0 to 3598
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   link         3599 non-null   object
 1   title        3599 non-null   object
 2   description  3599 non-null   object
 3   category     3599 non-null   object
dtypes: object(4)
memory usage: 112.6+ KB

Podemos ver que no tenemos datos nulos

In [4]:
df_clean = df.copy()
df_clean.drop_duplicates(inplace=True)

In [5]:
df_clean.count()

link           3500
title          3500
description    3500
category       3500
dtype: int64

In [6]:
print("Categorías únicas:")
print(df_clean['category'].unique())

Categorías únicas:
['travel' 'food' 'art_music' 'history']

In [7]:
travel_count = df_clean[df_clean['category'] == 'travel'].shape[0]
print("travel:", travel_count)

food_count = df_clean[df_clean['category'] == 'food'].shape[0]
print("food:", food_count)

art_music_count = df_clean[df_clean['category'] == 'art_music'].shape[0]
print("art_music:", art_music_count)

history_count = df_clean[df_clean['category'] == 'history'].shape[0]
print("history:", history_count)

travel: 1128
food: 887
art_music: 897
history: 588

Como podemos ver nuestras categorias no estan balanceadas, siendo mas las de 'travel' que son casi el doble de las de 'history'

Longitud de caracteres por titulo y descripcion

In [11]:
title_lengths = df_clean['title'].str.len()
print("Titulo")
print("Promedio:", title_lengths.mean())
print("Mínimo:", title_lengths.min())
print("Máximo:", title_lengths.max())

Titulo
Promedio: 67.46685714285714
Mínimo: 6
Máximo: 101

In [12]:
title_lengths = df_clean['description'].str.len()
print("Descripción")
print("Promedio:", title_lengths.mean())
print("Mínimo:", title_lengths.min())
print("Máximo:", title_lengths.max())

Descripción
Promedio: 428.13685714285714
Mínimo: 23
Máximo: 5239