In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('DB/youtube.csv')

print(df.count())
display(df.head())

link           3599
title          3599
description    3599
category       3599
dtype: int64

,link,title,description,category
0,JLZlCZ0,Ep 1| Travelling through North East India | Of...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nT...,travel
1,i9E_Blai8vk,Welcome to Bali | Travel Vlog | Priscilla Lee,Priscilla Lee\n45.6K subscribers\nSUBSCRIBE\n*...,travel
2,r284c-q8oY,My Solo Trip to ALASKA | Cruising From Vancouv...,Allison Anderson\n588K subscribers\nSUBSCRIBE\...,travel
3,Qmi-Xwq-ME,Traveling to the Happiest Country in the World!!,Yes Theory\n6.65M subscribers\nSUBSCRIBE\n*BLA...,travel
4,_lcOX55Ef70,Solo in Paro Bhutan | Tiger's Nest visit | Bhu...,Tanya Khanijow\n671K subscribers\nSUBSCRIBE\nH...,travel

## Analisis Exploratorio

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3599 entries, 0 to 3598
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   link         3599 non-null   object
 1   title        3599 non-null   object
 2   description  3599 non-null   object
 3   category     3599 non-null   object
dtypes: object(4)
memory usage: 112.6+ KB

Podemos ver que no tenemos datos nulos

In [29]:
df_clean = df.copy()
df_clean.drop_duplicates(inplace=True)

In [30]:
df_clean.count()

link           3500
title          3500
description    3500
category       3500
dtype: int64

In [35]:
print("Categorías únicas:")
print(df_clean['category'].unique())

Categorías únicas:
['travel' 'food' 'art_music' 'history']

In [36]:
travel_count = df_clean[df_clean['category'] == 'travel'].shape[0]
print("travel:", travel_count)

food_count = df_clean[df_clean['category'] == 'food'].shape[0]
print("food:", food_count)

art_music_count = df_clean[df_clean['category'] == 'art_music'].shape[0]
print("art_music:", art_music_count)

history_count = df_clean[df_clean['category'] == 'history'].shape[0]
print("history:", history_count)

travel: 1128
food: 887
art_music: 897
history: 588

Como podemos ver nuestras categorias no estan balanceadas, siendo mas las de 'travel' que son casi el doble de las de 'history'